/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font: 15px/1.5 Arial, Helvetica, sans-serif;*/
}

a {
    text-decoration: none;
    color: #000;
}
/* Style the body */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

/* Header */

header {
    color: #000;
    width: 100%;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #777 1px solid;
    display: flex;
    justify-content: space-between;
}

#logo {
    flex-basis: 10%;
}

#logo img {
    height: 120px;
}

nav {
    flex-basis: 50%;
    margin: auto;
    text-align: center;
}

.profile {
    flex-basis: 10%;
}

.profile img {
    height: 50px;
}

.dropdown-content a:hover, .linkkinap:hover {
    color: red;
}

/* Mobiili*/

@media screen and (min-width: 800px) {
    #logo {
        padding: 0px;
        margin-top: -40px;
        margin-left: 20px;
    }

    .profile img {
        float: right;
        margin-right: 20px;
    }

    .linkkinap {
        color: #000;
        font-size: 16px;
        font-size: 150%;
        padding-right: 10px;
        cursor: pointer;
    }

    .dropdown-content {
        height: auto;
    }

    .dropdown-content a {
        font-size: 150%;
        margin-right: 10px;
    }

    .dropbtn {
        display: none;
    }
}

@media screen and (max-width: 800px) {

    .dropbtn img {
        width: 50px;
        float: left;
        margin-left: 20px;
    }

    .dropdown {
        float: left;
        overflow: hidden;
    }

    .dropdown .dropbtn {
        font-size: 16px;
        border: none;
        outline: none;
        background-color: inherit;
        font-family: inherit;

    }

    .navbar a:hover, .dropdown:hover .dropbtn {
        background-color: #fff;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 16px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: #000;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: center;
    }

    .linkkinap {
        color: #000;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 60px;
        padding-right: 60px;
        text-decoration: none;
        display: block;
        cursor: pointer;
    }

    .dropdown-content a:hover, .linkkinap:hover {
        background-color: #f1f1f1;
        color: red;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    #logo {
        flex: 1;
        order: 2;
        margin-top: -30px;
        display: flex;
    }

    #logo img {
        margin: 0 auto;
    }

    nav {
        flex: 1;
        order: 1;
    }

    .profile {
        flex: 1;
        order: 3;
        margin-top: 17px;
    }

    .profile img {
        float: right;
        margin-right: 20px;
    }
}

.linkki {
    display: inline-block;
}

.linkki-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.linkki-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.linkki-content a:hover {
    background-color: #f1f1f1
}

.show {
    display: block;
}

/*Sisältö*/

.main {
    width: 80%;
    margin: auto;
}

.searchbar {
    border: black solid 1px;
    width: 70%;
    margin: auto;
    height: 5rem;
    margin-top: 2rem;
}

.container {
    border: black solid 1px;
    margin: auto;
    height: 30rem;
    margin-top: 30px;
}

.pic {
    border: black solid 1px;
    height: 90%;
    width: 20%;
    margin-top: 1rem;
    margin-left: 1rem;
}

.uploadform {
    max-width: 500px;
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 10px auto;
    padding: 20px;
    background: #f4f7f8;
    border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.uploadform fieldset {
    border: none;
}

.uploadform legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}

.uploadform label {
    display: block;
    margin-bottom: 8px;
}

.uploadform input[type="text"],
.uploadform input[type="number"],
.uploadform textarea,
.uploadform select {
    font-family: Georgia, "Times New Roman", Times, serif;
    background: rgba(255, 255, 255, .1);
    border: none;
    border-radius: 4px;
    font-size: 15px;
    margin: 0;
    outline: 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #e8eeef;
    color: #8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 30px;
}

.uploadform input[type="text"]:focus,
.uploadform input[type="number"]:focus,
.uploadform textarea:focus,
.uploadform select:focus {
    background: #d2d9dd;
}

.uploadform select {
    -webkit-appearance: menulist-button;
    height: 35px;
}

.uploadform .number {
    background: #1abc9c;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    border-radius: 15px 15px 15px 0px;
}

.uploadform input[type="submit"] {
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background: #1abc9c;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: solid #16a085;
    border-width: 1px 1px 3px;
    margin: 0 auto 10px;
    border-radius: 5px;
}

.uploadform input[type="submit"]:hover {
    background: #109177;
}

/* Make original file upload tag hidden */
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

/* Upload button */

.uploadbutton {
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background: #1abc9c;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 25px;
    border: solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.uploadbutton:hover {
    background: #109177;
}

.pmain {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
}

.profileInfo {
    -ms-flex: 30%; /* IE10 */
    flex: 30%;
    background-color: #1abc9c;
    padding: 20px;
    border-radius: 15px;
}

.profileInfo img {

    display: block;
    border-radius: 50%;
    height: 20rem;
    width: 20rem;
    padding: 20px;
    margin: auto;
}

.pInfo {
    color: #FFFFFF;
}

.feed {
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
    background-color: white;
    padding: 20px;
}

